
@{
    ViewData["Title"] = "AboutUs";
}

    <style>
        body{
           background-image:linear-gradient(to right, #9c094a,#bd3e76)
        }
        .container{
        background-image:linear-gradient(to right, #9c094a,#bd3e76)    
        }
        .card{
            background-image:linear-gradient(to right, #9c094a,#bd3e76) 
        }

    </style>
   
    <div class="container">
        <div class="row">
            <div class="col-md-12  p-3 mt-4 rounded">
                  <h1 class="text-center text-white">Our Past And Future</h1>
                  <p class="text-center text-white">
                      Arcadian Games is a Game Development Company Founded by Hamza Şafak Çavuş and Taha Taylan Ceylan.
                      These two friends, who met in high school, studied computer programming together at Istanbul Aydin University and decided to found Arcadian games.
                      In the last year of their university, they started to develop their first game project called spirit of sinners.
                      Although this game is still in alpha, the development process continues rapidly.
                      The main plan of these two is to make the best games they can. They want to take 
                      an important place in the game development industry in Global.
                  </p>
            </div>
        </div>
    </div>
    <div class="container p-3 mt-4">
     <div class="row">
         <div class="col-md-6">
             <div class="card">
                 <div class="card-header">
                     <h1 class="text-center text-white">Hamza Şafak Çavuş</h1>
                 </div>
                 <img src="../../Images/Hamza.png" class="card-img"/>
                 <div class="card-body"> 
                    <ol>
                       <li class="text-white">Age: 20</li>
                       <li class="text-white">Job: Software Developer</li>
                       <li class="text-white">Hamza Şafak Çavuş is graduaded from IAU in 2022 now he is developing many games for Arcadian Games</li>
                   </ol>
                 </div>
                 <div class="card-footer">
                     <form action="/Home/Projects">
                          <button type="submit" class="btn btn-danger">Projects</button>
                     </form> 
                 </div>
             </div>
         </div>
         <div class="col-md-6">
             <div class="card ">
                 <div class="card-header">
                     <h1 class="text-center text-white">Taha Taylan Ceylan</h1>
                 </div>
                 <img src="../../Images/taylan.jpg" class="card-img"/>
                 <div class="card-body"> 
                   <ol>
                       <li class="text-white">Age: 20</li>
                       <li class="text-white">Job: Software Developer</li>
                       <li class="text-white">Taha Taylan Ceylan is graduaded from IAU in 2022 now he is developing many games for Arcadian Games</li>
                   </ol>
                 </div>
                 <div class="card-footer">
                     <form action="/Home/Projects">
                          <button type="submit" class="btn btn-danger">Projects</button>
                     </form>             
                 </div>
             </div>
         </div>
     </div>
</div>

