@{
    ViewData["Title"] = "Home Page";
}
<style>
    body{
      background-image:linear-gradient(to right, #9c094a,#bd3e76) 
    }
    .container{
        background-image:linear-gradient(to right, #9c094a,#bd3e76)     
    }
    .mobileApp{
        margin-top:100px
    }
</style>


    <div class="container">
        <div class="row">
            <div class="col-md-12 p-3 mt-4 rounded">
                <h1 class="text-center text-white ">ARCADIAN</h1>
                <p class="text-center text-white">
                 Welcome to Official web site of Arcadian Games. In this section you can get informations about our games and
                 other projects that we gonna create. For now we have 2 projects in process Sprit of Sinners and Android App.
                 Sprit Of Sinners is our first game and the first project of that company. You can get knowladge about these project 
                 in below             
                </p>
            </div>
        </div>
    </div>

   <div class="container">
        <div class="row p-3 mt-4 rounded">
            <div class="col-md-6 img-fluid">
                <img class="w-100" src="../../Images/SOS.jpg"/>
            </div>
            <div class="col-md-6">
                <h3 class="text-center text-white">Spirit Of Sinners</h3>
                <p class="text-white">
                   Spirit of Sinners is a 2d action platformer game. The main focus of the game is a combat between player and enemies. 
                   Player’s objective is eliminating enemies through his path and reach the end of the level.
                   Spirit of Sinners is very user-friendly game. That means any kind of player can easily adapt to the game and enjoy it.
                   They can read the control schema in the main menu. The game is not hard for the non veteran players.
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row p-3 mt-4 rounded">          
            <div class="col-md-6 mobileApp">
                <h3 class="text-center text-white">Java Mobile App</h3>
                <p class="text-white">
                  This is our first mobile app made with java and firebase it helps to communicate between users. You can send messages whenever you want
                  securely. You can communicate with your friends easily by using that application.
                </p>
            </div>
            <div class="col-md-6 img-fluid">
                <img class="w-100" src="../../Images/mobileapp.jpg"/>
            </div>
        </div>      
    </div>

    <div class="container"> 
        <div class="row p-3 mt-4 rounded">
            <div class="col-md-12">
                <h3 class="text-white text-center"> Other Plans</h3>
                <p class="text-white text-center">
                   As the first plan we keep developing our first game Sprit of Sinners, But our main idea is creating a big team for developing
                   bigger games. But we are aware that we should not rush, we will start small and eventually we will realize the big projects we aim for.
                </p>
            </div>
        </div>
    </div>
    


