
@{
    ViewData["Title"] = "Projects";
}

    <style>
        body{
           background-image:linear-gradient(to right, #9c094a,#bd3e76)
        }
        .container{
        background-image:linear-gradient(to right, #9c094a,#bd3e76)    
        }
        .card{
            background-image:linear-gradient(to right, #9c094a,#bd3e76) 
        }

    </style>
   
    <div class="container">
        <div class="row">
            <div class="col-md-12  p-3 mt-4 rounded">
                  <h1 class="text-center text-white">Our Projects</h1>
                  <p class="text-center text-white">
                      These are the projects that we are developing right now.
                  </p>
            </div>
        </div>
    </div>
    <div class="container p-3 mt-4">
     <div class="row">
         <div class="col-md-6">
             <div class="card">
                 <div class="card-header">
                     <h1 class="text-center text-white">Spirit Of Sinners</h1>
                 </div>
                 <img src="../../Images/SOS2.png" class="card-img"/>
                 <div class="card-body"> 
                    <p class="text-white">This is a 2D action platformer game and also Arcadian's first game project. </p>
                 </div>
                 <div class="card-footer">
                    <i class="text-white">This game made with the power of Unity.</i>
                 </div>
             </div>
         </div>
         <div class="col-md-6">
             <div class="card ">
                 <div class="card-header">
                     <h1 class="text-center text-white">Java Mobile App</h1>
                 </div>
                 <img src="../../Images/mobileapp.jpg" class="card-img"/>
                 <div class="card-body"> 
                   <p class="text-white">This app is used for comminucation purposes.</p>
                 </div>
                 <div class="card-footer">
                     <i class="text-white">This app made with Android Studio and Firebase.</i>         
                 </div>
             </div>
         </div>
     </div>
</div>

